{% extends 'base.html.twig' %}

{% block title %}OpenDrive - register{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <p><a href="{{ path('openDriveTerms') }}">OpenDrive Terms</a></p>

                <button type="submit" class="btn btn-primary">Register</button>

                <a class="btn btn-dark" href="{{ path('showStartPage') }}">Home</a>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
