<div class="d-grid">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Logged as <b>{{ app.user.email }}</b></p>
        <span class="btn btn-light"><a href="{{ path('app_logout') }}">Exit</a></span>
    {% else %}
        <span class="btn btn-light"><a href="{{ path('app_login') }}">Login</a></span>
        <span class="btn btn-light"><a href="{{ path('app_register') }}">Registration</a></span>
    {% endif %}
    <br/> <br/>

    {#Add new file#}
    <form method="POST" id="uploadFileForm" enctype="multipart/form-data" action="{{ path('fileUpload') }}">
        <label for="newFile">
            <span class="btn btn-success">+ Add File</span>
            <input type="file" id="newFile" name="new_file" style="display: none">
            <input type="hidden" name="current_path" value="{{ response.canonical_current_path }}">
        </label>
    </form>
    <br/>

    <span class="btn btn-primary" id="createFolder">+ Create Folder</span>
    <br/><br/>


    <a href="{{ path('getBasket') }}"><span class="btn btn-warning">Basket</span></a>
</div>

<h5 class="my-3">My Drive</h5>
<div class="fm-menu">
    <div class="list-group list-group-flush"><a href="{{ asset('/get-files/'~response.current_path~'') }}"
                                                class="list-group-item py-1"><i class="bx bx-folder me-2"></i><span>All Files</span></a>
        <a href="{{ asset('/get-files/'~response.current_path~'/documents/') }}" class="list-group-item py-1"><i
                    class="bx bx-file me-2"></i><span>Documents</span></a>
        <a href="{{ asset('/get-files/'~response.current_path~'/img/') }}" class="list-group-item py-1"><i
                    class="bx bx-image me-2"></i><span>Images</span></a>
        <a href="{{ asset('/get-files/'~response.current_path~'/video/') }}" class="list-group-item py-1"><i
                    class="bx bx-video me-2"></i><span>Videos</span></a>
        <a href="{{ asset('/get-files/'~response.current_path~'/audio/') }}" class="list-group-item py-1"><i
                    class="bx bx-music me-2"></i><span>Audio</span></a>
        <a href="{{ asset('/get-files/'~response.current_path~'/archives/') }}" class="list-group-item py-1"><i
                    class="bx bx-beer me-2"></i><span>Archives</span></a>
    </div>
</div>

