{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}OpenDrive - disk{% endblock %}

{% block body %}
    {{ include('inc/sidebar.twig') }}


    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">

                <div class="fm-search">
                    {#breadcrumbs#}
                    {% for folderLink, folderName in response.breadcrumbs %}
                        {% if loop.index != response.breadcrumbs_cnt %}
                            <a href="{{ folderLink }}">{{ folderName }}</a> -
                        {% else %}
                            <span>{{ folderName }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <br/>


                <input type="hidden" id="currentPath" value="{{ response.canonical_current_path }}">
                <input type="hidden" id="formattedCurrentPath" value="{{ response.current_path }}">


                {% if response.folders %}
                    <h5>Folders:</h5>
                    <div class="row mt-3">
                        {% for foldername in response.folders %}
                            <div class="col-12 col-lg-4 context-menu-folders"
                                 data-folder-path="{{ response.canonical_current_path }}"
                                 data-folder-name="{{ foldername }}"
                            >
                                <a href="{{ asset('/get-files/'~response.current_path~'-'~foldername~'') }}" style="text-decoration: none">
                                <div class="card shadow-none border radius-15">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="font-30 text-primary"><i class="bx bxs-folder"></i>
                                            </div>
                                            {#<div class="user-groups ms-auto">
                                             <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="35" height="35" class="rounded-circle" alt="">
                                             <img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="35" height="35" class="rounded-circle" alt="">
                                             </div>
                                             <div class="user-plus">+</div>#}
                                        </div>

                                            <h6 class="mb-0 text-primary">{{ foldername }}</h6>
                                        {#<small>15 files</small>#}
                                    </div>
                                </div>
                            </a>
                            </div>


                        {% endfor %}
                    </div>
                {% endif %}


                <div class="d-flex align-items-center">
                    <div>
                        <h5 class="mb-0">Files:</h5>
                    </div>
                    <div class="ms-auto"><a href="{{ asset('/get-files/'~response.current_path~'') }}" class="btn btn-sm btn-outline-secondary">View all</a>
                    </div>
                </div>

                {% if response.files %}
                    <div class="table-responsive mt-3">
                        <table class="table table-striped table-hover table-sm mb-0">
                            <thead>
                            <tr>
                                <th>Name <i class="bx bx-up-arrow-alt ms-2"></i>
                                </th>
                                <th>Type</th>
                                <th>Extension</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for file in response.files %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center context-menu"
                                             data-file-url="{{ file.FILE_URL }}"
                                             data-file-name="{{ file.NAME }}"
                                             data-file-size="{{ file.FILE_SIZE }}"
                                             style="cursor: pointer">
                                            <div>
                                                <i class="{{ file.FILE_STYLES.ICON_CLASS }} me-2 font-24 {{ file.FILE_STYLES.COLOR_CLASS }}"></i>
                                            </div>
                                            <div class="font-weight-bold text-secondary">{{ file.NAME }}</div>
                                        </div>
                                    </td>
                                    <td>{{ file.EXTENSION }}</td>
                                    <td>{{ file.FILE_TYPE }}</td>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="table-responsive mt-3 text-danger context-menu-empty-folder">Files not found</div>
                {% endif %}
            </div>
        </div>
    </div>


    {# Modal windows #}
    {{ include('inc/popup_file_props.twig') }}
    {{ include('inc/popup_file_rename.twig') }}
    {{ include('inc/popup_folder_create.twig') }}
{% endblock %}